* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2C6705;
    color: #E2DBAC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

a:visited {
    color:#fff;
    /* text-decoration: none; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(#AEC957, #2C6705);
    position: sticky;
    top: 0px;
}

h1 {
    color: #fff;
    margin-left: 20px;
    /* text-shadow: 1px 1px 2px #AEC957; */
    font-size: 50px;
}

header .toplinks ul li {
    display: inline;
    overflow: hidden;
    list-style-type: none;
}

.toplinks a,
.footlinks a {
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 4px;
    text-decoration: underline;
  }

.toplinks a:hover,
.footlinks a:hover {
    background-color: #ddd;
    color: black;
  }

main {
    /* display: flex; */
    /* flex-direction: row; */
}

.backsplash {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/demo.jpg);
    background-size: cover;
    background-position: center;
}


.content {
    width: 100%;
    margin-left: 0px;
}

.about-me {
    display: flex;
    align-items: center;

}

.about-me h1,
.projects h1 {
    width: 30%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.main-sample {
    flex: 1 0 50%;
    width: 50%
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.secondary-sample {
    flex: 1 0 100%;
    width: 50%;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #333;
    border-style: ridge;
    top: 0px;
}

footer h2 {
    width: 30%;
}
  /* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }
  
  /* make each code card a flexbox column to align and justify content within it */
  .code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--heliotrope);
  
    /* outline is like border, but on the outside of the box instead of inside */
    outline: 2px dashed var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }
  


/*Consolidated classes with same style*/
.benefit-lead,
.benefit-brand,
.benefit-cost
 {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Consolidated classes with same style*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3
 {
    margin-bottom: 10px;
    text-align: center;
}

/*Consolidated classes with same style*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img
 {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Consolidated classes with same style*/
.about-me,
.projects,
.contact
 {
    padding: 20px;
    color: #ffffff;
}

/*Consolidated classes with same style*/
.about-me img,
.projects img,
.contact img
 {
    max-height: 200px;
}

/*Consolidated classes with same style*/
.about-me h2,
.projects h2,
.contact h2
 {
    margin-bottom: 20px;
    font-size: 36px;
}


.footlinks {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
 */
/* @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
    header {
      background: #772014;
    }
    nav,
    footer {
      background-color: #bb8588;
    }
  } */
  